@model IEnumerable<Product>

<div class="row my-5">
    <h1 class="text-pink text-center mb-4">OUR PRODUCTS</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class="text-end">Price</th>
                <th></th>
            </tr>        
        </thead>
        <tbody>
            @foreach(Product p in Model)
            {
                 <tr>
                    <td>@p.Name</td>
                    <td>@p.Description</td>
                    <td>@p.Price.ToString("c2")</td>
                    <td>
                        <a class="btn btn-dark" asp-action="Edit"
                        asp-route-productId="@p.Id">Edit</a>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" value="@p.Id" name="productId" />
                            <button type="submit" class="btn btn-dark">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }          
        </tbody>
    </table>
    <div class="text-center mb-4">
        <a asp-action="Create" class="btn btn-dark">Add Product</a>
    </div>
</div>

